<html>
    <head>
        <title>UtiFood</title>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-width=1.0, maximum-width=1.0, user-scalable=no"">
        <script src="js/jquery-1.10.2.min.js"></script>
    </head>
    <body>
      <section id="menubar">
       <ul>
         <li><a class="menubutton" href="#menu"><img src="images/menu.png"></a></li>
       </ul>
      </section>
      <header>
        <h1>UtiFood</h1>
      </header>
      <nav class="nav">
        <ul>
          <li><a href="#" class="active">UtiFood</a></li>
          <li><a href="#">Rezepte</a></li>
          <li><a href="#">Zusammenfassung</a></li>
              <li><a href="#">Dashboard</a></li>
        </ul>
      </nav>
      <div class="container">

        <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span> Node Authentication</h1>

          <p>Login or Register with:</p>

          <a href="/user/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
          <a href="/user/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
      </div>
    </body>
</html>